.service-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0c1f29;
    z-index: 1;  
}

.service-wrapper {
    width: 80%;
    max-width: 1170px;
}

.service {
    padding: 0 32px;
}

.service ul {
    list-style: none;
}

.service-content-container {
    display: flex;
    justify-content: space-between;
}

.service-left, .service-right {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.service-name {
    font-size: 32px;
}

.service-info-list {
    margin: 24px 0;
}

.service-info-text {
    margin: 16px 0;
}

.service-info-item {
    font-size: 18px;
}

.service-info-list .service-info-color, .service-price-before, .service-price-after {
    font-size: 20px;
}

.service-price-before {
    text-decoration: line-through;
    text-decoration-color: red;
}

.service-extras-description, .service-advantages-description {
    font-size: 20px;
    font-weight: 500;
}

.service-photo-gallery-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.expand-photo-wrapper {
    display: flex;
    margin-bottom: 16px;
}

.service-photo-expanded {
    border-radius: 15px;
    height: 324px;
    width: 100%;
    object-fit: cover;
}

.track-item, .service-photo {
    border-radius: 5px;
    width: 100%;
    height: 64px;
    object-fit: cover;
}

.track-item {
    margin-right: 6px;
}

.track-item:last-child {
    margin-right: 0;
}

.photos-track {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .service-content-container {
        flex-direction: column-reverse;
    }

}