<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>New Wave - organization of events</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="../site.webmanifest">
  <link rel="apple-touch-icon" href="../icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/templates-css/articles.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
<div class="wrapper">
  <main class="main">
    <section class="article">
      <div class="article-wrapper">
        <div class="header">
          <div class="heading">
            <div class="category-value">Relax</div>
            <h1 class="title">Top Resort Hotel</h1>
          </div>
          <div class="author-wrapper">
            <img src="../img/author_avatar.png" alt="" class="author-img">
            <div class="author-data-container">
              <span class="author-name">Ryan Gosling</span>
              <span class="author-date">11 feb, 2023</span>
            </div>
          </div>
        </div>
        <div class="article-image-wrapper">
          <h2 class="title">Peach Hill Resort</h2>
        </div>
        <div class="article-content-wrapper">
          <p class="article-content">
            The Peach Hill Resort is a luxurious hotel nestled in the picturesque hills of a tropical paradise. With its stunning views of the surrounding lush greenery and crystal clear waters, it offers guests a truly unforgettable experience.
          </p>
          <p class="article-content">
            Upon arrival, guests are greeted by a warm and friendly staff who are dedicated to providing exceptional service. The hotel boasts a range of beautifully appointed rooms and suites, each designed with comfort and elegance in mind. From spacious balconies to private jacuzzis, every detail has been carefully thought out to ensure a relaxing and rejuvenating stay.
          </p>
          <p class="article-content">
            The Peach Hill Resort also offers a wide array of dining options to satisfy every palate. Guests can indulge in delectable cuisine at the hotel's signature restaurant, which features a menu of both local and international dishes prepared by talented chefs. For a more casual dining experience, the poolside bar offers refreshing cocktails and light bites, perfect for enjoying under the sun.
          </p>
          <p class="article-content">
            Those seeking relaxation and pampering will find solace in the hotel's spa and wellness center. Here, guests can indulge in a variety of rejuvenating treatments, from massages to facials, all performed by skilled therapists using high-quality products. The serene atmosphere and tranquil surroundings create the perfect environment for ultimate relaxation.
          </p>
          <p class="article-content">

            For those looking to explore the local area, the Peach Hill Resort offers a range of activities and excursions. From snorkeling and diving in the vibrant coral reefs to hiking through lush rainforests, there is something for everyone to enjoy. The hotel's knowledgeable concierge team is always on hand to assist guests in planning their adventures and ensuring they make the most of their stay.
          </p>
        </div>
      </div>
    </section>
    <section class="related-articles-section">
      <div class="related-articles-wrapper">
        <h2 class="title section-title">Related articles</h2>
        <div class="related-articles-container">
          <div class="related-card-wrapper">
            <img src="../img/IMG_2753.jpg" alt="" class="related-card-img">
            <div class="related-card-description-container">
              <span class="category-text">Culture</span>
              <h3 class="related-card-title">Open the gates do the exotic of Thailand with our blog</h3>
              <p class="text-s">
                Here you will find many interesting and useful articles that will help you better understand the opportunities that Thailand offers for various events. Our team of professionals collects the latest news for you and publishes information about the latest trends and popular events taking place in this amazing country.
              </p>
              <div class="author-wrapper">
                <img src="../img/author_avatar.png" alt="" class="author-img">
                <div class="author-data-container">
                  <span class="author-name">Ryan Gosling</span>
                  <span class="author-date">11 feb, 2023</span>
                </div>
              </div>
            </div>
          </div>
          <div class="related-card-wrapper">
            <img src="../img/IMG_2753.jpg" alt="" class="related-card-img">
            <div class="related-card-description-container">
              <span class="category-text">Culture</span>
              <h3 class="related-card-title">Open the gates do the exotic of Thailand with our blog</h3>
              <p class="text-s">
                Here you will find many interesting and useful articles that will help you better understand the opportunities that Thailand offers for various events. Our team of professionals collects the latest news for you and publishes information about the latest trends and popular events taking place in this amazing country.
              </p>
              <div class="author-wrapper">
                <img src="../img/author_avatar.png" alt="" class="author-img">
                <div class="author-data-container">
                  <span class="author-name">Ryan Gosling</span>
                  <span class="author-date">11 feb, 2023</span>
                </div>
              </div>
            </div>
          </div>
          <div class="related-card-wrapper">
            <img src="../img/IMG_2753.jpg" alt="" class="related-card-img">
            <div class="related-card-description-container">
              <span class="category-text">Culture</span>
              <h3 class="related-card-title">Open the gates do the exotic of Thailand with our blog</h3>
              <p class="text-s">
                Here you will find many interesting and useful articles that will help you better understand the opportunities that Thailand offers for various events. Our team of professionals collects the latest news for you and publishes information about the latest trends and popular events taking place in this amazing country.
              </p>
              <div class="author-wrapper">
                <img src="../img/author_avatar.png" alt="" class="author-img">
                <div class="author-data-container">
                  <span class="author-name">Ryan Gosling</span>
                  <span class="author-date">11 feb, 2023</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="banner">
      <div class="banner-wrapper">
        <div class="banner-container">
          <h2 class="title">
            Погрузитесь в магию и духовность
            Тайланда с незабываемой поездкой
            к памятнику Большого Будды!
          </h2>
          <p class="text">
            Закажите услугу сегодня и откройте для себя
            новые горизонты духовности и путешествий!
          </p>
          <a href="" class="general-button">
            Заказать услугу
          </a>
        </div>
      </div>
    </section>


  </main>
</div>
<!-- Add your site or application content here -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
