.page-content-wrapper p, .article-content-wrapper p {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: clamp(14px, 2vw, 20px);
}

.page-content-wrapper strong, .article-content-wrapper strong {
  font-weight: bold;
}

.page-content-wrapper h1, .article-content-wrapper h1 {
  margin: 36px 0;
  font-size: clamp(32px, 4vw ,50px);
  font-weight: bold;
}

.page-content-wrapper h2, .article-content-wrapper h2 {
  margin: 40px 0;
  font-size: clamp(24px, 2.5vw , 36px);
  font-weight: bold;
}

.page-content-wrapper h3, .article-content-wrapper h3 {
  margin: 30px 0;
  font-size: clamp(22px, 1.6vw , 32px);
  font-weight: bold;
}

.page-content-wrapper img, .article-content-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.page-content-wrapper ul, .article-content-wrapper ul {
  margin: 15px;
}

.page-content-wrapper li, .article-content-wrapper li {
  margin: 15px;
  font-size: clamp(18px, 1.5vw , 22px);
}